<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/boostrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body ng-app="NightLife">
    <div>
        @RenderBody()
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/config.js"></script>
    <script src="~/app/controllers/HomeController.js"></script>
    <script src="~/app/controllers/ModalController.js"></script>
</body>
</html>
