<main>
    <div ng-init="bar.getBar()"></div>
    
    <div ng-hide="bar.isBusy">
        <h1>{{bar.currentBar.name}}</h1>
        <h3>Reviews</h3>
    </div>
    <spinner ng-show="bar.isBusy" message="Getting Details of {{bar.currentBar.name}}"></spinner>

    <h3 ng-show="bar.barReviews.length === 0" class="details">No Reviews Yet!</h3>
    <div class="media details" ng-repeat="review in bar.barReviews">
        <img class="d-flex mr-3" ng-src="{{review.profilePhotoUrl}}" alt="Google User Profile Image">
        <div class="media-body">
            <h5 class="mt-0">{{review.author}}</h5>
            <p><strong>Rating: {{review.rating}}</strong></p>
            <div class="lead">{{review.reviewBody}}</div>
            <hr />
            <footer>{{review.reviewDate}}</footer>
        </div>
    </div>

    <div class="details" ng-show="bar.barReviews">        
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h5>Days Open</h5>
                    <hr />
                    <div id="daysOpen">
                        <div class="jumbotron">
                            <p class="lead" ng-show="bar.barDetails.daysOpen.length === 0">Information Not Available</p>
                            <p class="lead" ng-repeat="dayOpen in bar.barDetails.daysOpen">{{dayOpen}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h5>Additional Information</h5>
                    <hr />
                    <div id="barInfo">
                        <div class="jumbotron" style="margin-top: -50px;">
                            <p class="lead"><strong>Phone Number:</strong> {{bar.barDetails.phoneNumber === null ? "Not Available" : bar.barDetails.phoneNumber}}</p>
                            <p class="lead"><strong>Average Price Level:</strong> {{bar.barDetails.priceLevel === 0 ? "Not Available" : bar.barDetails.priceLevel}}</p>
                            <p class="lead"><strong>Average Rating:</strong> {{bar.barDetails.rating === 0 ? "Not Available or 0" : bar.barDetails.rating}}</p>
                            <div ng-hide="bar.barDetails.daysOpen.length === 0">
                                <p class="lead" ng-show="bar.barDetails.isOpenNow" style="color: #5cb85c"><strong>Open Now!</strong></p>
                                <p class="lead" ng-hide="bar.barDetails.isOpenNow" style="color: #DB4437"><strong>Closed</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="bar.currentBar">
            <iframe width="600"
                    height="450"
                    frameborder="0" style="border:0;"
                    ng-src="{{bar.googleMapsUrl}}" allowfullscreen></iframe>
        </div>
    </div>
</main>