<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">People Attending</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <h4 ng-if="modal.usersAttending.length === 0">No People Attending Yet!</h4>
                        <div class="col-6" ng-repeat="user in modal.usersAttending">
                            <p ng-if="user.facebookId"><a ng-href="https://www.facebook.com/{{user.facebookId}}">{{user.name}}</a></p>
                            <p ng-if="!user.facebookId">{{user.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a ng-click="modal.closeModal()" data-dismiss="modal" class="btn btn-primary">Place Details</a>
            </div>
        </div>
    </div>
</div>