body
{
    background-color: #636363;
    background-image: url("../background.jpg");
    color: white;
}

nav
{
    min-width: 100%;
}

@keyframes fadein
{
    from
    {
        top: -75px;
        opacity: 0;
    }

    to
    {
        top: 0px;
        opacity: 1;
    }
}

#barSearchInput
{
    margin-top: 18px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

.details
{
    padding: 25px;
    margin-top: 25px;
    border-radius: 25px;
    background-color: #f1f1f1;
    color: black;
}

.center
{
    margin-top: 40%;   
}

.center-add, .center-remove
{
    
    transition: all 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}


.loginButton
{
    margin-right: 60px;
}

main
{
    padding-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    
}

#spinner
{
    font-size: 30px;
}

#barList
{
    border-radius: 25px;
    background-color: #f1f1f1;
    color: black;
}

.barImg
{
    min-width:100px;
    min-height: 100px;
    height: 180px;
    width: 318px;
}

#daysOpen
{
    height: 300px;
}

#barInfo
{
    margin-top: 18%;
}

iframe
{
    box-shadow: 5px 5px 16px 1px; 
}

.card
{
    margin-top: 12px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 15px 3px;
}

.card-title
{
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn
{
    cursor: pointer;
}

button:hover
{
    cursor: pointer;
}

.tooltipWrapper
{
    display: inline-block;
}

.tooltipWrapper .btn[disabled]
{
    pointer-events: none;
}

.tooltipWrapper
{
    cursor: not-allowed;
}

.modal
{
    color: black;
}

.ml-auto li
{
    margin-right: 50px;
}

.dropdown
{
    padding-right: 50px;
}

.dropdown:hover
{
    cursor: pointer;
}

.navbar-brand
{
    padding-left: 75px;
}

.alert
{
    width: 500px;
    position: relative;
    float: right;
    animation: fadein 0.35s;
}

.barWrapper.ng-enter
{
    transition: 0.3s cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
}

.barWrapper.ng-enter
{
    opacity: 0;
}

.barWrapper.ng-enter.ng-enter-active
{
    opacity: 1;
}

